<div class="w-full bg-white rounded-lg border-2 relative">
  <p class="p-4 border-b shadow">Edit Campaign</p>

  <%= form_for(@campaign, :url => administrator_organization_campaign_path(@organization, @campaign), :method => :put, :html => {class: 'w-full'}) do |f| %>
    <div class="form-buttons absolute pin-t pin-r mt-2 mr-4">
      <%= link_to "Back", administrator_organization_campaigns_path(@organization), class: "no-underline bg-transparent cursor-pointer hover:bg-grey text-grey-dark font-semibold hover:text-white py-2 px-4 border border-grey-dark hover:border-transparent rounded" %>
      <%= f.submit "Update", :class => "bg-transparent cursor-pointer hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded" %>
    </div>

    <div class="content p-4 w-full">
      <div class="flex-initial w-full">

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Name <br>
                <small>Campaign name cannot be changed!</small>
              </label>
            </div>
            <div class="w-2/5">
              <%= f.hidden_field :name, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker" %>
              <p><%= f.object.name %></p>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Avatar
              </label>
            </div>
            <div class="w-2/5">
              <%= f.file_field :avatar, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker" %>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold mb-1 md:mb-0 pr-4" for="inline-full-name">
                Visibility by team <br>
                <small>Choose which team has access to this campaign or leave blank.</small>
              </label>
            </div>
            <div class="w-2/5">
              <%= select_tag :team_id, options_from_collection_for_select(@organization.teams, "id", "name", @campaign.teams.first.present?? @campaign.teams.first.id : '' ), {:prompt => 'Select Team', class: 'shadow bg-white appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 mb-6 text-grey-darker' } %>
              <a onclick="showModal('teamUsersModal')" class="float-right bg-transparent cursor-pointer hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded -mt-2">View users in team</a>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Visibility by users <br>
                <small>Choose which team has access to this campaign or leave blank.</small>
              </label>
            </div>
            <div class="w-2/5">
              <%= f.select :participant_user_ids, @organization.users.pluck(:email, :id), {}, { multiple: true, class: "selectize" } %>
            </div>
          </div>

      </div>
    </div>
  <% end %>
</div>

<div class="w-full bg-white rounded-lg border-2 relative my-6" id="modal">
  <p class="p-4 border-b shadow">Events <%= link_to "New", new_administrator_organization_campaign_event_path(@organization, @campaign), class: "float-right bg-transparent cursor-pointer hover:bg-green text-green-dark font-semibold hover:text-white py-2 px-4 border border-green hover:border-transparent rounded -mt-2 no-underline" %></p>

  <div class="content p-4 w-full">
    <div class="flex-initial w-full">
      <% if @campaign.events.empty? %>
        <p>This campaign has no events!</p>
      <% else %>
      <table class="w-full">
        <tr class="header">
          <th class="p-2">Name</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Actions</th>
        </tr>

        <% @campaign.events.each do |event| %>
          <tr class="hover:bg-grey-lightest row">
            <td class="p-2">
              <%= image_tag event_avatar(event), class: "w-10 h-10 float-left" %>
              <p class="ml-2 float-left"><%= event.name %></p>
            </td>
            <td><%= event.start_date.strftime("%F") %></td>
            <td><%= event.end_date.strftime("%F") %></td>
            <td>
              <%= link_to '<svg class="w-4 h-4 text-orange" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/></svg>'.html_safe, edit_administrator_organization_campaign_event_path(@organization, @campaign, event), class: "" %>
              <%= link_to '<svg class="w-4 h-4 text-red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z"/></svg>'.html_safe, administrator_organization_campaign_event_path(@organization, @campaign, event), method: :delete, class: "" %>
            </td>
          </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>


<div id="teamUsersModal" class="modal animated fadeIn fixed z-50 pin overflow-auto bg-smoke-dark flex">
  <div class="animated fadeInDown fixed shadow-inner max-w-md md:relative pin-b pin-x align-top m-auto justify-end md:justify-center p-8 bg-white md:rounded w-full md:h-auto md:shadow flex flex-col">
    <table>
      <% if !@campaign.teams.empty? %>
        <% @campaign.teams.first.users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <span class="absolute pin-t pin-r pt-4 px-4">
      <a href="#teamUsersModal" rel="modal:close"><svg class="h-12 w-12 text-grey hover:text-grey-darkest" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg></a>
    </span>
  </div>
</div>
