<div class="w-full bg-white rounded-lg border-2 relative">
  <p class="p-4 border-b shadow">Campaigns</p>
  <%= link_to "New", new_administrator_organization_campaign_path(@organization), :class => "absolute pin-t pin-r mr-4 mt-2 bg-transparent cursor-pointer hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded" %>

  <div class="flex content p-4">
    <div class="flex-initial w-full">
      <table class="w-full">
        <tr class="header">
          <th class="p-2">Name</th>
          <th>Events #</th>
          <th>Tasks #</th>
          <th>Created at</th>
          <th></th>
        </tr>

        <% @organization.campains.each do |campaign| %>
          <tr class="hover:bg-grey-lightest row">
            <td class="p-2">
              <%= image_tag campaign_avatar(campaign), class: "w-10 h-10 float-left rounded-lg" %>
              <%= link_to campaign.name, administrator_organization_campaign_path(@organization, campaign), class: "ml-2 mt-2 float-left no-underline text-blue-dark" %>
            </td>
            <td><%= campaign.events.count %></td>
            <td><%= campaign.tasks.count %></td>
            <td><%= campaign.created_at.strftime("%F") %></td>
            <td class="text-right">
              <% if campaign.name != "Default" %>
                <%= link_to 'Edit', edit_administrator_organization_campaign_path(@organization, campaign), class: "bg-transparent cursor-pointer hover:bg-orange-light text-orange-dark font-semibold hover:text-white py-2 px-4 border border-orange-dark hover:border-transparent rounded no-underline" %>
                <%= link_to 'Add event', new_administrator_organization_campaign_event_path(@organization, campaign), class: "bg-transparent cursor-pointer hover:bg-teal-light text-teal-dark font-semibold hover:text-white py-2 px-4 border border-teal-dark hover:border-transparent rounded no-underline" %>
                <%= link_to 'Add task', new_administrator_organization_campaign_task_path(@organization, campaign), class: "bg-transparent cursor-pointer hover:bg-indigo-light text-indigo-dark font-semibold hover:text-white py-2 px-4 border border-indigo-dark hover:border-transparent rounded no-underline" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
