<div class="w-full bg-white rounded-lg border-2 relative">
  <p class="p-4 border-b shadow">New Campaign</p>

  <%= form_for([@organization, @campaign], :url => administrator_organization_campaigns_path(@organization), :method => :post, :html => {class: 'w-full'}) do |f| %>
    <div class="form-buttons absolute pin-t pin-r mt-2 mr-4">
      <%= link_to "Cancle", administrator_organization_campaigns_path(@organization), class: "no-underline bg-transparent cursor-pointer hover:bg-grey text-grey-dark font-semibold hover:text-white py-2 px-4 border border-grey-dark hover:border-transparent rounded" %>
      <%= f.submit "Save", :class => "bg-transparent cursor-pointer hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded" %>
    </div>

    <div class="flex w-full content p-4">
      <div class="flex-initial w-full">

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Name
              </label>
            </div>
            <div class="md:w-2/5">
              <%= f.text_field :name, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker" %>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Avatar
              </label>
            </div>
            <div class="w-2/5">
              <%= f.file_field :avatar, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker" %>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold mb-1 md:mb-0 pr-4" for="inline-full-name">
                Visibility by team <br>
                <small>Choose which team has access to this campaign or leave blank.</small>
              </label>
            </div>
            <div class="w-2/5">
              <%= select_tag :team_id, options_from_collection_for_select(@organization.teams, "id", "name", @campaign.teams.first.present?? @campaign.teams.first.id : '' ), {:prompt => 'Select Team', class: 'shadow bg-white appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 mb-6 text-grey-darker' } %>
              <a onclick="showModal('teamUsersModal')" class="float-right bg-transparent cursor-pointer hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded -mt-2">View users in team</a>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Visibility by users <br>
                <small>Choose which team has access to this campaign or leave blank.</small>
              </label>
            </div>
            <div class="w-2/5">
              <%= text_field_tag :users_id, CampainsHelper.users_outside_team(@campaign), class: 'shadow bg-white appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker' %>
            </div>
          </div>

      </div>
    </div>
  <% end %>
</div>
