<div class="w-full bg-white rounded-lg border-2 relative">
  <p class="p-4 border-b shadow"><%= @campaign.name %></p>

    <div class="form-buttons absolute pin-t pin-r mt-4 mr-4">
      <%= link_to "Back", administrator_organization_campaigns_path(@organization), class: "no-underline bg-transparent cursor-pointer hover:bg-grey text-grey-dark font-semibold hover:text-white py-2 px-4 border border-grey-dark hover:border-transparent rounded" %>
    </div>

    <div class="flex content p-4">
      <div class="inline-flex w-full">
        <div class="w-5/6">
          <ul class="list-reset flex border-b w-full tabs">
            <li class="w-12 mr-4"><%= image_tag @campaign.avatar.url, class: "w-12 h-12 rounded-full" %></li>
            <li class="-mb-px mr-1 mt-4 tab-link" data-tab="tab-1">
              <a class="no-underline bg-white inline-block tab-active py-2 px-4 text-blue-dark font-semibold" href="#tab-overview">Overview</a>
            </li>
            <li class="-mb-px mr-1 mt-4 tab-link" data-tab="tab-2">
              <a class="no-underline bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="#tab-events">Events</a>
            </li>
            <li class="-mb-px mr-1 mt-4 tab-link" data-tab="tab-3">
              <a class="no-underline bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="#tab-tasks">Tasks</a>
            </li>
            <li class="-mb-px mr-1 mt-4 tab-link" data-tab="tab-4">
              <a class="no-underline bg-white inline-block py-2 px-4 text-blue font-semibold" href="#tab-people">People</a>
            </li>
          </ul>

          <div id="tab-1" class="tab-content current p-6">
            <%= render partial: 'administrator/campaigns/partials/overview', locals: { campaign: @campaign } %>
          </div>

          <div id="tab-2" class="tab-content p-6 relative">
            <%= link_to "New", administrator_organization_campaigns_path(@organization), class: "absolute pin-r no-underline bg-transparent cursor-pointer hover:bg-green text-green-dark font-semibold hover:text-white py-2 px-4 border border-green-dark hover:border-transparent rounded" %>
            <table class="w-5/6">
              <% @campaign.events.each do |event| %>
                <tr class="hover:bg-grey-lightest row">
                  <td class="p-2">
                    <%= image_tag event_avatar(event), class: "w-10 h-10 float-left rounded-lg" %>
                    <%= link_to event.name, administrator_organization_campaign_event_path(@organization, @campaign, event), class: "ml-2 mt-2 float-left no-underline text-blue-dark" %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>

          <div id="tab-3" class="tab-content p-6 relative">
            <% if @campaign.tasks.empty? %>
              <div class="text-center">
                <%= image_tag "icons/task_list_icon.png", class: "w-48 h-48" %>
                <p class="p-6 text-lg text-grey-darker">Hi <%= current_user.full_name %>, <%= @campaign.name %> don't have any task. Click the button below to create a task.</p>
                <%= link_to "Create Task", new_administrator_organization_campaign_task_path(@organization, @campaign), class: "no-underline bg-green cursor-pointer hover:bg-green-dark text-white text-2xl font-semibold hover:text-white py-2 px-4 border border-green-dark hover:border-transparent rounded" %>
              </div>

            <% else %>
              <%= link_to "New", new_administrator_organization_campaign_task_path(@organization, @campaign), class: "absolute pin-r no-underline bg-transparent cursor-pointer hover:bg-green text-green-dark font-semibold hover:text-white py-2 px-4 border border-green-dark hover:border-transparent rounded" %>

              <div class="mb-16">
                <h3 class="mb-8 text-grey-darker">Upcomming and In progress tasks</h3>

                <table id="incomplete_tasks" class="w-5/6 p-2 ml-4">
                  <tr class="border-b">
                    <td></td>
                    <td class="pb-2">Name</td>
                    <td>Start date</td>
                    <td>End date</td>
                    <td>Status</td>
                    <td>Assignees</td>
                  </tr>
                  <% @campaign.tasks.where.not(status: "finished").each do |task| %>
                    <tr id="edit_task_<%= task.id %>" class="hover:bg-grey-lightest row">
                      <td>
                        <%= form_for(task, :url => administrator_organization_campaign_task_path(@organization, @campaign, task), method: :put, remote: true) do |f| %>
                          <div class="pretty p-svg p-curve p-tada ">
                              <%= f.check_box :status, {checked: task.is_completed?}, "finished", "upcomming" %>
                              <div class="state p-success">
                                  <!-- svg path -->
                                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                                      <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                  </svg>
                                  <label></label>
                              </div>
                          </div>
                        <% end %>
                      </td>
                      <td class="p-2">
                        <%= link_to task.name, administrator_organization_campaign_task_path(@organization, @campaign, task), class: "ml-2 mt-2 float-left no-underline text-blue-dark" %>
                      </td>
                      <td><%= task.start_date.strftime("%F")  %></td>
                      <td><%= task.end_date.strftime("%F")  %></td>
                      <td><%= task_status_label(task.status).html_safe %></td>
                      <td><%= render partial: 'administrator/campaigns/assignees_list', locals: { task: task } %></td>
                    </tr>
                  <% end %>
                </table>
              </div>

              <div class="border-t border-grey mt-16">
                <h3 class="mb-8 text-grey-darker mt-8">Completed tasks</h3>

                <table id="complete_tasks" class="w-5/6 p-2 ml-4">
                  <tr class="border-b">
                    <td></td>
                    <td class="pb-2">Name</td>
                    <td>Start date</td>
                    <td>End date</td>
                    <td>Status</td>
                    <td>Assignees</td>
                  </tr>
                  <% @campaign.tasks.where(status: "finished").each do |task| %>
                    <tr id="edit_task_<%= task.id %>" class="hover:bg-grey-lightest row">
                      <td>
                        <%= form_for(task, :url => administrator_organization_campaign_task_path(@organization, @campaign, task), method: :put, remote: true) do |f| %>
                          <div class="pretty p-svg p-curve p-tada ">
                              <%= f.check_box :status, {checked: task.is_completed?}, "finished", "upcomming" %>
                              <div class="state p-success">
                                  <!-- svg path -->
                                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                                      <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                  </svg>
                                  <label></label>
                              </div>
                          </div>
                        <% end %>
                      </td>
                      <td class="p-2">
                        <%= link_to task.name, administrator_organization_campaign_task_path(@organization, @campaign, task), class: "ml-2 mt-2 float-left no-underline text-blue-dark" %>
                      </td>
                      <td><%= task.start_date.strftime("%F")  %></td>
                      <td><%= task.end_date.strftime("%F")  %></td>
                      <td><%= task_status_label(task.status).html_safe %></td>
                      <td><%= render partial: 'administrator/campaigns/assignees_list', locals: { task: task } %></td>
                    </tr>
                  <% end %>
                </table>
              </div<
            <% end %>
          </div>

          <div id="tab-4" class="tab-content p-6">
            <% if @campaign.participant_users.empty? %>
              <div class="bg-orange-lightest border-l-4 border-orange text-orange-dark p-4" role="alert">
                <p>There is no users in this campaign!</p>
              </div>
            <% else %>
              <table class="w-full">
                <% @campaign.participant_users.each do |user| %>
                  <tr class="hover:bg-grey-lightest row">
                    <td class="p-2">
                      <%= image_tag avatar(user), class: "w-10 h-10 float-left rounded-lg" %>
                      <%= link_to user.full_name, "#", class: "ml-2 mt-2 float-left no-underline text-blue-dark" %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>
        </div>

        <div class="w-1/6 mt-6">

        </div>
      </div>
    </div>
</div>


<div id="newTaskModal" class="modal animated fadeIn fixed z-50 pin overflow-auto bg-smoke-dark flex">
  <div class="animated fadeInDown fixed shadow-inner max-w-md md:relative pin-b pin-x align-top m-auto justify-end md:justify-center p-8 bg-white md:rounded w-full md:h-auto md:shadow flex flex-col">
    <h2 class="text-4xl text-center font-hairline md:leading-loose text-grey md:mt-8 mb-4">Add event</h2>

    <%= form_for(@campaign.tasks.new, :url => administrator_organization_campaign_tasks_path(@organization, @campaign), :method => :post, :html => {class: 'w-full'}, validate: true) do |f| %>
      <div class="flex items-center mb-6">
        <div class="w-1/3">
          <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
            Name
          </label>
        </div>
        <div class="w-2/3">
          <%= f.text_field :name, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", :required => true %>
        </div>
      </div>

      <div class="flex items-center mb-6">
        <div class="w-1/3">
          <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
            Start date
          </label>
        </div>
        <div class="w-2/3">
          <%= f.datetime_field :start_date, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", :required => true %>
        </div>
      </div>

      <div class="flex items-center mb-6">
        <div class="w-1/3">
          <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
            End date
          </label>
        </div>
        <div class="w-2/3">
          <%= f.datetime_field :end_date, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", :required => true %>
        </div>
      </div>

      <div class="inline-flex justify-center w-full">
        <%= f.submit "Add", :class => "bg-grey-lighter flex-1 border-b-2 md:flex-none border-green ml-2 hover:bg-green-lightest text-grey-darkest font-bold py-4 px-6 rounded", 'onclick': "showModal('newTaskModal')" %>
        <a href="#newTaskModal" rel="modal:close" class="bg-grey-lighter flex-1 md:flex-none border-b-2 border-red ml-2 hover:bg-red-lightest text-grey-darkest font-bold py-4 px-6 rounded">
          Cancle
        </a>
      </div>
    <% end %>
    <span class="absolute pin-t pin-r pt-4 px-4">
      <a href="#newTaskModal" rel="modal:close"><svg class="h-12 w-12 text-grey hover:text-grey-darkest" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg></a>
    </span>
  </div>
</div>
