<% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="messages-list">
  <%= sync partial: 'user_receiver_messages', collection: @messages %>
  <%= sync_new partial: 'user_receiver_messages', resource: Message.new, scope: @conversation %>
</div>

<%= form_for [@conversation, @new_message], :remote => true, html: {class: "reply-form"} do |f| %>
  <div class=”field”>
    <%= f.text_area :body, class: "form-control", :placeholder => "Your message..." %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <div>
    <%= f.submit "Send", class: "btn btn-success" %>
  </div>
<% end %>
