<div class="w-full bg-white rounded-lg border-2 relative">
  <p class="p-4 border-b shadow"><span class="text-grey-dark"><%= @campaign.name %> / </span>New task</p>

  <%= form_for(@task, :url => administrator_organization_campaign_tasks_path(@organization, @campaign), :method => :post, :html => {class: 'w-full'}) do |f| %>
    <div class="form-buttons absolute pin-t pin-r mt-2 mr-4">
      <%= link_to "Cancle", administrator_organization_campaigns_path(@organization), class: "no-underline bg-transparent cursor-pointer hover:bg-grey text-grey-dark font-semibold hover:text-white py-2 px-4 border border-grey-dark hover:border-transparent rounded" %>
      <%= f.submit "Save", :class => "bg-transparent cursor-pointer hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded" %>
    </div>

    <div class="flex w-full content p-4">
      <div class="flex-initial w-full">

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Name <br>
                <small>Name cannot be changed onece task is created!</small>
              </label>
            </div>
            <div class="md:w-2/5">
              <%= f.text_field :name, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", placeholder: "Task name" %>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Description
              </label>
            </div>
            <div class="w-2/5">
              <%= f.hidden_field :description, id: 'task_description' %>
              <trix-editor input="task_description" placeholder="Description"></trix-editor>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                Start date
              </label>
            </div>
            <div class="w-2/5">
              <%= f.datetime_field :start_date, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", :required => true %>
            </div>
          </div>

          <div class="flex items-center mb-6">
            <div class="w-1/3">
              <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
                End date
              </label>
            </div>
            <div class="w-2/5">
              <%= f.datetime_field :end_date, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", :required => true %>
            </div>
          </div>

      </div>
    </div>
  <% end %>
</div>
