<div class="w-full bg-white rounded-lg border-2 relative">
  <p class="p-4 border-b shadow"><%= @task.name %><small class="text-grey-dark ml-4">( Started <%= @task.start_date.strftime('%F') %> - <span class="text-red">Estimated end date <%= @task.end_date.strftime('%F') %></span> )</small></p>

    <div class="form-buttons absolute pin-t pin-r mt-4 mr-4">
      <%= link_to "Back", administrator_organization_campaign_path(@organization, @campaign), class: "no-underline bg-transparent cursor-pointer hover:bg-grey text-grey-dark font-semibold hover:text-white py-2 px-4 border border-grey-dark hover:border-transparent rounded" %>
      <%= link_to "Edit", edit_administrator_organization_campaign_task_path(@organization, @campaign, @task), class: "no-underline bg-transparent cursor-pointer hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue-dark hover:border-transparent rounded" %>
    </div>

    <div class="flex content p-4">
      <div class="inline-flex w-full">
        <div class="w-5/6">
          <ul class="list-reset flex border-b w-full tabs">
            <li class="-mb-px mr-1 mt-4 tab-link" data-tab="tab-1">
              <a class="no-underline bg-white inline-block tab-active py-2 px-4 text-blue-dark font-semibold" href="#tab-overview">Overview</a>
            </li>
            <li class="-mb-px mr-1 mt-4 tab-link" data-tab="tab-2">
              <a class="no-underline bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="#tab-events">Time log</a>
            </li>
            <li class="-mb-px mr-1 mt-4 tab-link" data-tab="tab-3">
              <a class="no-underline bg-white inline-block py-2 px-4 text-blue font-semibold" href="#tab-people">People</a>
            </li>
            <% if @task.user == current_user %>
              <li class="-mb-px mr-1 mt-4 tab-link" data-tab="tab-4">
                <a class="no-underline bg-white inline-block py-2 px-4 text-blue font-semibold" href="#tab-settings">Settings</a>
              </li>
            <% end %>
          </ul>

          <div id="tab-1" class="tab-content current p-6">
            <div class="flex content p-4">
              <div class="w-full">
                <div class="w-full border-b p-6">
                  <h4 class="text-grey-darker">Description</h4>
                  <div class="p-6 text-grey-dark text-justify">
                    <%= sanitize(@task.description) %>
                  </div>
                </div>

                <div class="w-full border-b p-6">
                  <h4 class="text-grey-darker">Files</h4>
                  <div class="p-6 text-grey-dark">
                    <p>There is no files!</p>
                  </div>
                </div>

                <div class="w-full border-b p-6">
                  <h4 class="text-grey-darker">Comments</h4>
                  <div class="p-6 text-grey-dark">
                    <%= render partial: 'administrator/tasks/partials/comment_form', locals: { new_comment: Comment.build_from(@task, current_user.id, "") } %>
                    <!-- <p>There is no comment for this task!</p> -->
                    <div class="p-6 border-t mt-6">
                      <% @task.root_comments.order("created_at DESC").each do |comment| %>
                        <div class="border-b mb-6">
                          <div class="overflow-hidden">
                            <%= image_tag avatar(comment.user), class: 'float-left w-12 h-12 rounded-lg' %>
                            <%= link_to comment.user.full_name, '#', class: 'float-left ml-4 no-underline text-grey-darker' %>
                            <small class="float-right"><%= time_ago_in_words(comment.created_at) %> ago</small>
                          </div>

                          <div class="p-2" style="width: 86%; margin-left: 5%;">
                            <%= sanitize(comment.body) %> <br>
                          </div>
                        </div>
                      <% end %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="tab-2" class="tab-content p-6">
            <table class="w-full">
              <% @campaign.events.each do |event| %>
                <tr class="hover:bg-grey-lightest row">
                  <td class="p-2">
                    <%= image_tag event_avatar(event), class: "w-10 h-10 float-left rounded-lg" %>
                    <%= link_to event.name, administrator_organization_campaign_event_path(@organization, @campaign, event), class: "ml-2 mt-2 float-left no-underline text-blue-dark" %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>

          <div id="tab-3" class="tab-content p-6">
            <% if @campaign.tasks.empty? %>
              <div class="bg-orange-lightest border-l-4 border-orange text-orange-dark p-4" role="alert">
                <p>There is no tasks for this campaign! <a onclick="showModal('newTaskModal')" class="bg-orange rounded-full p-1 text-white hover:cursor-pointer">Add task</a></p>
              </div>

            <% else %>
              <table class="w-full">
                <tr class="border-b">
                  <td class="pb-2">Name</td>
                  <td>Email</td>
                </tr>
                <% @task.assignees.each do |assignee| %>
                  <tr class="hover:bg-grey-lightest row">
                    <td class="p-2">
                      <%= link_to assignee.full_name, "#", class: "ml-2 mt-2 float-left no-underline text-blue-dark" %>
                    </td>
                    <td><%= assignee.email %></td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>

          <% if @task.user == current_user %>
            <div id="tab-4" class="tab-content p-6">
                <div class="flex content p-4">
                  <div class="w-full">
                    <div class="w-full border-b p-6">
                      <h4 class="text-grey-darker">Assignees</h4>
                      <div class="p-6 text-grey-dark">
                        <%= form_for(@task, :url => assign_user_administrator_organization_campaign_task_path(@organization, @campaign, @task), :method => :post, :html => {class: 'w-full max-w-sm'}) do |f| %>
                          <div class="flex items-center py-2">
                            <%= text_field_tag :assignee, nil, id: "assignee_input", class: "appearance-none bg-transparent border border-grey-dark rounded w-full text-grey-darker mr-3 py-2 px-3", placeholder: "User email", data: {autocomplete_source: not_assignees(@task).map(&:email)} %>
                            <%= f.submit "Add", class: "flex-no-shrink bg-teal hover:bg-teal-dark border-teal hover:border-teal-dark text-sm border-4 text-white py-1 px-2 rounded" %>
                          </div>
                        <% end %>

                        <table class="mt-6 w-full">
                          <tr class="border-b">
                            <td class="pb-6">Name</td>
                            <td>Email</td>
                          </tr>
                          <% @task.assignees.each do |assignee| %>
                            <tr>
                              <td class="pt-6"><%= assignee.full_name %></td>
                              <td class="pt-6"><%= assignee.email %></td>
                              <td class="pt-6"><%= link_to "Remove", remove_assignee_administrator_organization_campaign_task_path(@organization, @campaign, @task, assignee.id), method: :post, class: "no-underline bg-transparent cursor-pointer hover:bg-red text-red-dark font-semibold hover:text-white py-2 px-4 border border-red-dark hover:border-transparent rounded" %></td>
                            </tr>
                          <% end %>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>
            </div>
          <% end %>
        </div>

        <div class="w-1/6 mt-6">

        </div>
      </div>
    </div>
</div>


<div id="newTaskModal" class="modal animated fadeIn fixed z-50 pin overflow-auto bg-smoke-dark flex">
  <div class="animated fadeInDown fixed shadow-inner max-w-md md:relative pin-b pin-x align-top m-auto justify-end md:justify-center p-8 bg-white md:rounded w-full md:h-auto md:shadow flex flex-col">
    <h2 class="text-4xl text-center font-hairline md:leading-loose text-grey md:mt-8 mb-4">Add event</h2>

    <%= form_for(@campaign.tasks.new, :url => administrator_organization_campaign_tasks_path(@organization, @campaign), :method => :post, :html => {class: 'w-full'}, validate: true) do |f| %>
      <div class="flex items-center mb-6">
        <div class="w-1/3">
          <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
            Name
          </label>
        </div>
        <div class="w-2/3">
          <%= f.text_field :name, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", :required => true %>
        </div>
      </div>

      <div class="flex items-center mb-6">
        <div class="w-1/3">
          <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
            Start date
          </label>
        </div>
        <div class="w-2/3">
          <%= f.datetime_field :start_date, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", :required => true %>
        </div>
      </div>

      <div class="flex items-center mb-6">
        <div class="w-1/3">
          <label class="block text-grey font-bold  mb-1 md:mb-0 pr-4" for="inline-full-name">
            End date
          </label>
        </div>
        <div class="w-2/3">
          <%= f.datetime_field :end_date, :class => "shadow appearance-none border border-grey-lighter hover:border-blue rounded w-full py-2 px-4 text-grey-darker", :required => true %>
        </div>
      </div>

      <div class="inline-flex justify-center w-full">
        <%= f.submit "Add", :class => "bg-grey-lighter flex-1 border-b-2 md:flex-none border-green ml-2 hover:bg-green-lightest text-grey-darkest font-bold py-4 px-6 rounded", 'onclick': "showModal('newTaskModal')" %>
        <a href="#newTaskModal" rel="modal:close" class="bg-grey-lighter flex-1 md:flex-none border-b-2 border-red ml-2 hover:bg-red-lightest text-grey-darkest font-bold py-4 px-6 rounded">
          Cancle
        </a>
      </div>
    <% end %>
    <span class="absolute pin-t pin-r pt-4 px-4">
      <a href="#newTaskModal" rel="modal:close"><svg class="h-12 w-12 text-grey hover:text-grey-darkest" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg></a>
    </span>
  </div>
</div>
