<div class="fb-profile">
  <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
  <%= image_tag @user.avatar.url, :class => "fb-image-profile thumbnail", :align => "left" %>
  <div class="fb-profile-text">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<%= render "sidebar_left" %>

<div class="col-lg-6 profile-center">
  <div class="col-lg-12 status-box">
    <%= form_for(@status, :url => user_statuses_path(@user)) do |f| %>
      <%= f.text_area :body, :rows => "2", :placeholder => "What is on your mind?" %>

      <%= f.submit "Post", :class => "form-control btn btn-info" %>
    <% end %>
  </div>

  <div class="col-lg-12 status-box">
    <% @activities.each do |activity| %>
      <%= render :partial => "users/partials/activity/#{activity.trackable_type.downcase}/#{activity.action}", :locals => {:activity => activity } %>
    <% end %>
  </div>
</div>
