<div class="profile clearfix">
  <div class="image">
    <img src="http://lorempixel.com/700/300/nature/2/" class="img-cover">
  </div>

  <div class="user clearfix">
    <div class="avatar">
      <%= image_tag @user.avatar.url, :class => "img-profile img-thumbnail" %>
    </div>

    <h2><%= @user.first_name %> <%= @user.last_name %></h2>

    <div class="actions">
      <div class="btn-group">
        <%= profile_action_link("Photos", albums_path(current_user)) %>
      </div>
    </div>
  </div>
</div>

<%= render "sidebar_left" %>

<div class="col-lg-6 profile-center">
  <div class="col-lg-12 status-box status-form">
    <%= form_for(@status, :url => user_statuses_path(@user)) do |f| %>
      <%= f.text_area :body, :rows => "2", :placeholder => "What is on your mind?" %>

      <%= f.submit "Post", :class => "form-control btn btn-info status-post-btn" %>
    <% end %>
  </div>

  <div class="col-lg-12 status-box">
    <% @activities.each do |activity| %>
      <%= render :partial => "users/partials/activity/#{activity.trackable_type.downcase}/#{activity.action}", :locals => {:activity => activity } %>
    <% end %>
  </div>
</div>
