<%= render 'users/partials/header' %>

<div class="container flex w-full mx-auto item-centered">
    <%= render 'sidebar_left' %>

    <div class="w-1/2 mt-6 mx-4">
      <div class="w-full shadow overflow-hidden">
        <%= form_for([@statusable, @status], :url => user_statuses_path(@user)) do |f| %>
          <div style="height: auto;" class="bg-white animation h-24 appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" id="status-textarea" placeholder="Say your oppinion..." contenteditable="true" data-behavior="autocomplete"></div>
          <%= f.text_area :body, :rows => "2", :id => "status-hidden-textarea",  :placeholder => "Say your oppinion..." %>

          <svg class="ml-2 w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path class="text-grey" d="M0 4c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm11 9l-3-3-6 6h16l-5-5-2 2zm4-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>
          <%= button_tag(type: 'submit', class: "bg-transparent animation float-right hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded") do %>
            Send
          <% end %>
        <% end %>
      </div>

      <div class="single-status">
        <%= render @activities %>
      </div>

      <%= paginate @activities %>
    </div>
</div>

<!-- <div class="modal animated zoomIn" id="uploadPictureModal" tabindex="-1" role="dialog" aria-labelledby="upload{ictureModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Picture</h4>
      </div>
      <%= form_for([@album, @picture], :url => album_pictures_path(@user, @album), :method => :post, :html => {:multipart => true}) do |f| %>
        <div class="modal-body clearfix">
          <%= f.label :picture, :class => "col-md-3 control-label" %>
          <div class="col-md-8">
            <%= f.file_field :picture, :class => "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Upload", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div> -->
