<div class="shadow w-full mb-6">
  <p class="p-4">Info</p>

  <div class="content bg-white p-4">
    <%= form_for(@user) do |f| %>
      <div class="w-full flex my-2">
        <%= f.label :first_name, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.text_field :first_name, :class => "bg-white w-1/2 animation appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" %>
      </div>

      <div class="w-full flex my-2">
        <%= f.label :last_name, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.text_field :last_name, :class => "bg-white w-1/2 animation appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" %>
      </div>

      <div class="w-full flex my-2">
        <%= f.label :gender, :class => "text-grey-darkest w-1/3 pt-2" %>
        <%= f.select :gender, [["Male", "male"], ["Female", "female"]], {}, {class: "-ml-6"} %>
      </div>

      <div class="w-full flex my-2">
        <%= f.label :birthday, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.text_field :dob, id: "datepicker", :class => "bg-white w-1/2 animation appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" %>
      </div>

      <div class="w-full flex my-2">
        <%= f.label :mobile_phone, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.text_field :mobile_phone, :class => "bg-white w-1/2 animation appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" %>
      </div>

      <div class="w-full flex my-2">
        <%= f.label :qualification, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.text_field :qualification, :class => "bg-white w-1/2 animation appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" %>
      </div>

      <div class="mt-6">
        <%= f.submit 'Update profile', :class => "bg-grey-lighter flex-1 border-b-2 md:flex-none border-green ml-2 hover:bg-green-lightest text-grey-darkest font-bold py-4 px-6 rounded" %>
      </div>
    <% end %>
  </div>
</div>

<div class="shadow w-full mb-6">
  <p class="p-4">Address</p>

  <div class="content bg-white p-4">
    <%= form_for(@user) do |f| %>
      <div class="w-full flex my-2">
        <%= f.label :country_code, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.collection_select :country_code, Country.all, :code, :name, {:prompt => "Please select a country"}, {:class => "country_selection form-control", :id => "user_country_id"} %>
      </div>

      <div class="w-full flex my-2">
        <%= f.label :city_id, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.grouped_collection_select(:city_id, @countries, :locations, :name, :id, :city, {:prompt => "Please select a city"}, {:class => "form-control", :id => "user_city_id"}) %>
      </div>

      <div class="w-full flex my-2">
        <%= f.label :street, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.text_field :street, :class => "bg-white w-1/2 animation appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" %>
      </div>

      <div class="w-full flex my-2">
        <%= f.label :zip_code, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.number_field :zip_code, :class => "bg-white w-1/2 animation appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" %>
      </div>


      <div class="mt-6">
        <%= f.submit 'Update Address', :class => "bg-grey-lighter flex-1 border-b-2 md:flex-none border-green ml-2 hover:bg-green-lightest text-grey-darkest font-bold py-4 px-6 rounded" %>
      </div>
    <% end %>
  </div>
</div>

<div class="shadow w-full mb-6">
  <p class="p-4">About</p>

  <div class="content bg-white p-4">
    <%= form_for(@user) do |f| %>
      <div class="w-full flex my-2">
        <%= f.label :interest_list, :class => "text-grey-darkest w-2/5 pt-2" %>
        <%= f.text_field :interest_list, :class => "bg-white w-1/2 animation appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" %>
      </div>

      <div class="mt-6">
        <%= f.submit 'Update About', :class => "bg-grey-lighter flex-1 border-b-2 md:flex-none border-green ml-2 hover:bg-green-lightest text-grey-darkest font-bold py-4 px-6 rounded" %>
      </div>
    <% end %>
  </div>
</div>
