<%= render 'users/partials/header' %>

<div class="container flex w-full mx-auto item-centered">
    <%= render 'sidebar_left' %>

    <div class="w-1/2 mt-6 mx-4">
      <div class="w-full shadow overflow-hidden">
        <%= form_for([@statusable, @status], :url => user_statuses_path(@user)) do |f| %>
          <div v-on:keyup="generatePreviewText" style="height: auto;" class="bg-white animation h-24 appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" id="status-textarea" placeholder="Say your oppinion..." contenteditable="true" data-behavior="autocomplete">{{ original_text }}</div>
          <!-- <editable v-on:keyup="generatePreviewText" :content="original_text" @update="original_text = $event" style="height: auto;" class="bg-white animation h-24 appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" id="status-textarea" placeholder="Say your oppinion..." data-behavior="autocomplete"></editable> -->
          <%= f.text_area :body, :rows => "2", :id => "status-hidden-textarea",  :placeholder => "Say your oppinion...", 'v-model': 'textarea_text' %>

          <div id="status-preview" class="mt-2 p-6 text-center" v-html="preview_text"></div>

          <a onclick="showModal('image-upload')"><svg class="ml-2 w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path class="text-grey" d="M0 4c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm11 9l-3-3-6 6h16l-5-5-2 2zm4-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg></a>
          <%= button_tag(type: 'submit', class: "bg-transparent animation float-right hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded") do %>
            Send
          <% end %>
        <% end %>

        <div id="image-upload" class="modal animated fadeIn fixed z-50 pin overflow-auto bg-smoke-dark flex">
          <div class="animated fadeInDown fixed shadow-inner max-w-md md:relative pin-b pin-x align-top m-auto justify-end md:justify-center p-8 bg-white md:rounded w-full md:h-auto md:shadow flex flex-col">
            <h2 class="text-4xl text-center font-hairline md:leading-loose text-grey md:mt-8 mb-4">Upload Picture</h2>

            <%= form_for([@album, @picture], :url => album_pictures_path(@user, @album), :method => :post, :html => {:multipart => true}) do |f| %>
              <%= f.file_field :picture, :class => "w-full my-4" %>

              <div class="inline-flex justify-center w-full">
                <%= f.submit "Upload", :class => "bg-grey-lighter flex-1 border-b-2 md:flex-none border-green ml-2 hover:bg-green-lightest text-grey-darkest font-bold py-4 px-6 rounded" %>
                <a href="#image-upload" rel="modal:close" class="bg-grey-lighter flex-1 md:flex-none border-b-2 border-red ml-2 hover:bg-red-lightest text-grey-darkest font-bold py-4 px-6 rounded">
                  Cancle
                </a>
              </div>
            <% end %>
            <span class="absolute pin-t pin-r pt-4 px-4">
              <a href="#image-upload" rel="modal:close"><svg class="h-12 w-12 text-grey hover:text-grey-darkest" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg></a>
            </span>
          </div>
        </div>

      </div>

      <div class="single-status">
        <%= render @activities %>
      </div>

      <%= paginate @activities %>
    </div>
</div>
