<div class="container flex w-full mx-auto item-centered mt-16">
  <div class="w-1/4 mt-8 border-r sidebar-fixed">
    <div class="text-center">
      <%= image_tag event_avatar(@event), class: "rounded-lg w-48 h-48" %>
      <p class="text-center mt-2"><%= @event.name %></p>
    </div>

    <div class="shadow w-full flex-wrap my-6 bg-white">
      <p class="p-4 border-b border-grey text-grey-darker">Time frame</p>

      <div class="content p-3">
        <label>From: </label> <%= @event.start_date.strftime("%-d-%-m-%Y: %H:%M") %><br><br>
        <label>To: </label> <%= @event.end_date.strftime("%-d-%-m-%Y: %H:%M") %>
      </div>
    </div>

    <div class="shadow w-full flex-wrap my-6 bg-white">
      <p class="p-4 border-b border-grey text-grey-darker">Description</p>

      <div class="content p-3">
        <p><%= @event.description %></p>
      </div>
    </div>

  </div>
</div>
