<div class="row">

  <div class="col-lg-9">
    <% if current_user.is_organization_admin?(@organization) %>
        <div class="col-lg-12 status-box status-form well">
          <%= form_for([@statusable, @status], :url => organization_campain_event_statuses_path(@organization, @campain, @event)) do |f| %>
            <div id="status-textarea" placeholder="Say your oppinion..." contenteditable="true" data-behavior="autocomplete"></div>
            <%= f.text_area :body, :rows => "2", :id => "status-hidden-textarea",  :placeholder => "Say your oppinion..." %>

            <%= f.submit "Post", :class => "col-md-2 btn btn-info pull-right" %>
          <% end %>

        </div>
      <% end %>

      <div class="col-lg-12 status-box">
        <% if @activities.empty? %>
          <p> There is no post on campain timeline yet! </p>
        <% else %>
          <ul class="timeline well">
            <%= render @activities %>
          </ul>

          <%= paginate @activities %>
        <% end %>
      </div>
  </div>

  <div class="col-lg-3 event-left-side">
    <div class="info well">
      <%= image_tag @event.avatar.url, :class => "event-avatar" %>
    </div>

    <br>

    <div class="events panel panel-default event-info">
      <div class="panel-body">
        <label>Event name: </label> <%= @event.name %><br>
        <label>Campain: </label> <%= link_to @event.campain.name, organization_campain_path(@event.campain.organization, @event.campain) %><br>
        <label>Organization: </label> <%= link_to @event.campain.organization.name, organization_path(@event.campain.organization) %>
      </div>
    </div>

    <div class="events panel panel-default event-info">
      <div class="panel-heading">
        <h3 class="panel-title">Date</h3>
      </div>
      <div class="panel-body">
       <label>From: </label> <%= @event.start_date %><br>
       <label>To: </label> <%= @event.end_date %>
      </div>
    </div>

    <div class="well description">
      <p><%= @event.description %></p>
    </div>

  </div>

</div>
