<div class="w-full shadow overflow-hidden bg-white">
  <p class="p-4 border-b border-grey text-grey-darker">Available units</p>

  <div class="content bg-white p-4">
    <p>Organization <%= current_user.number_of_organizations_user_ownes %> / <%= current_user.active_subscription.organizations_quota %></p>
    <div class="shadow w-full bg-grey-light">
      <div class="bg-blue text-xs leading-none py-1 text-center text-white" style="width: <%= current_user.used_organizations_quota %>%"></div>
    </div><br>

    <p>Campains <%= current_user.number_of_campains_user_ownes %> / <%= current_user.active_subscription.campains_quota %></p>
    <div class="shadow w-full bg-grey-light">
      <div class="bg-blue text-xs leading-none py-1 text-center text-white" style="width: <%= current_user.used_campains_quota %>%"></div>
    </div><br>

    <p>Events <%= current_user.number_of_events_user_ownes %> / <%= current_user.active_subscription.events_quota %></p>
    <div class="shadow w-full bg-grey-light">
      <div class="bg-blue text-xs leading-none py-1 text-center text-white" style="width: <%= current_user.used_events_quota %>%"></div>
    </div>
  </div>
</div>
