<%= form_for([@organization, @campain], :html => {:multipart => true}) do |f| %>
  <% if @campain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campain.errors.count, "error") %> prohibited this campain from being saved:</h2>

      <ul>
        <% @campain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
