<%= render 'users/partials/header' %>

<div id="row">
  <%= render 'users/sidebar_left' %>

  <div class="col-lg-6 edit-center">
    <div class="panel panel-info">
      <div class="panel-body">
        <h3 class="col-lg-6">Owner</h3>
        <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#newOrganizationModal">New</a>
        <% if @owner_organizations.blank? %>
          <p class="col-lg-12">There is no organization you owne yet! Create one now</p>
        <% else %>
          <div class="table-responsive table-sm">
            <table class="table table-sm">
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
              <%= render :partial => 'organizations/partials/organization_list', :collection => @owner_organizations, :as => :organization, :locals => {:type => :owner} %>
            </table>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-body">
        <h3>Moderator</h3>
        <% if @moderate_organizations.blank? %>
          <p>There is no organization you moderate yet!</p>
        <% else %>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
              <%= render :partial => 'organizations/partials/organization_list', :collection => @moderate_organizations, :as => :organization, :locals => {:type => :moderator} %>
            </table>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-body">
        <h3>Member</h3>
        <% if @member_organizations.blank? %>
          <p>There is no organization you are member yet!</p>
        <% else %>
          <div class="table-responsive table-sm">
            <table class="table table-sm">
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
              <%= render :partial => 'organizations/partials/organization_list', :collection => @member_organizations, :as => :organization, :locals => {:type => :member} %>
            </table>
          </div>
        <% end %>
      </div>
    </div>


  </div>
</div>

<!-- New Organization Modal -->
<div class="modal animated zoomIn" id="newOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="newOrganizationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create new organization</h4>
      </div>
      <%= form_for(@organization, :html => {:multipart => true}) do |f| %>
        <div class="modal-body clearfix">

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>

          <div class="field">
          <%= f.label :avatar, :class => "col-md-3 control-label" %>
            <div class="col-md-8 pull-right">
              <%= f.file_field :avatar, :class => "form-control" %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Create", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

