<%= render 'users/partials/header' %>

<div id="row" data-turbolinks="false" class="organization">
  <%= render 'users/sidebar_left' %>

  <div class="col-lg-6 edit-center organization-center">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="col-lg-6">Owner</h4>

        <% if policy(@organization).create? %>
          <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#newOrganizationModal">New</a>
        <% else %>
          <%= link_to "Upgrade membership", subscriptions_path, :class => "btn btn-success pull-right", :style => "width: 156px;" %>
        <% end %>

      </div>
      <div class="panel-body">
       <% if @owner_organizations.blank? %>
        <p class="col-lg-12">There is no organization you owne yet! Create one now</p>
       <% else %>
       <div class="organization-list-table table-responsive table-sm col-lg-12">
        <table class="table table-sm">
          <%= render :partial => 'organizations/partials/organization_list', :collection => @owner_organizations, :as => :organization, :locals => {:type => :admin} %>
        </table>
      </div>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="col-lg-6">Moderator</h4>
    </div>
    <div class="panel-body">
      <% if @moderate_organizations.blank? %>
      <p>There is no organization you moderate yet!</p>
      <% else %>
      <div class="organization-list-table table-responsive">
        <table class="table">
          <%= render :partial => 'organizations/partials/organization_list', :collection => @moderate_organizations, :as => :organization, :locals => {:type => :moderator} %>
        </table>
      </div>
      <% end %>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-body">
      <h3>Member</h3>
      <% if @member_organizations.blank? %>
      <p>There is no organization you are member yet!</p>
      <% else %>
      <div class="table-responsive table-sm">
        <table class="table table-sm">
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
          <%= render :partial => 'organizations/partials/organization_list', :collection => @member_organizations, :as => :organization, :locals => {:type => :member} %>
        </table>
      </div>
      <% end %>
    </div>

  </div>


</div>

  <div class="sidebar-right col-lg-3">
    <%= render :partial => 'subscriptions/partials/quotas' %>
  </div>
</div>

<!-- New Organization Modal -->
<div class="modal animated zoomIn" id="newOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="newOrganizationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create new organization</h4>
      </div>
      <%= form_for(@organization, :html => {:multipart => true}) do |f| %>
      <div class="modal-body clearfix">

          <div class="field clearfix">
            <%= f.label :name, :class => "col-md-2 control-label" %>
            <div class="col-md-10 pull-right">
              <%= f.text_field :name, :class => "form-control new-organization-form-field", :placeholder => "Name" %>
            </div>
          </div>

          <div class="field clearfix">
            <%= f.label :avatar, :class => "col-md-2 control-label" %>
            <div class="col-md-10 pull-right">
              <%= f.file_field :avatar, :class => "form-control" %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Create", :class => "btn btn-primary", :disabled => "true" %>
        </div>
      <% end %>
    </div>
  </div>
</div>