<%= render 'organizations/partials/header' %>

<div class="container flex w-full mx-auto item-centered">
  <%= render 'organizations/partials/sidebar_left' %>

  <div class="w-1/2 mt-6 mx-4">
    <div class="w-full shadow overflow-hidden">
      <%= form_for([@statusable, @status], :url => organization_statuses_path(@organization)) do |f| %>
        <div style="height: auto;" class="bg-white animation h-24 appearance-none border-2 border-grey-lighter hover:border-blue-dark rounded w-full py-2 px-4 text-grey-darker" id="status-textarea" placeholder="Say your oppinion..." contenteditable="true" data-behavior="autocomplete"></div>
        <%= f.text_area :body, :rows => "2", :id => "status-hidden-textarea",  :placeholder => "Say your oppinion..." %>

        <%= button_tag(type: 'submit', class: "bg-transparent animation float-right hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded") do %>
          Send
        <% end %>
      <% end %>

    </div>

    <div class="single-status">
      <%= render @activities %>
    </div>

    <%= paginate @activities %>
  </div>
</div>
