<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @organization.name %>
</p>

<%= image_tag @organization.avatar.url %>

<%= link_to 'Edit', edit_organization_path(@organization) %>
<%= link_to 'Back', organization_path %>
<%= link_to 'Add moderator', organization_members_path(@organization) if is_organization_owner?(@organization) %>
<%= link_to 'Join', organization_join_path(@organization, current_user), :method => :put if !is_supporting_organization?(@organization, current_user) %>
<%= link_to 'Exit organization', organization_unjoin_path(@organization, current_user), :method => :delete if is_member?(@organization, current_user) %>
