<!DOCTYPE html>
<html>
<head>
  <title>Detail Admin - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'admin_application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin_application', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="border-r inline-block h-screen pt-6 overflow-hidden admin-panel-sidebar">
    <h2 class="text-center border-b pb-6">Admin Panel</h2>

    <ul class="list-reset">
      <li><%= link_to "Home", admin_path, class: "w-full block p-4 text-lg bg-grey-lighter text-grey-darkest hover:bg-grey-light hover:cursor-pointer no-underline border-b-2 border-white" %></li>
      <li><%= link_to "Beta testers", admin_leads_path, class: "w-full block p-4 text-lg bg-grey-lighter text-grey-darkest hover:bg-grey-light hover:cursor-pointer no-underline" %></li>
    </ul>
  </div>

  <div class="w-5/6 h-screen inline-block ml-4 overflow-hidden">
    <%= yield %>
  </div>
</body>
</html>
