<!DOCTYPE html>
<html>
  <head>
    <title>Asurmo | Dashboard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="padding-top: 0px;">
    <div id="wrapper">
      <%= render 'layouts/admin_sidebar' %>
      <a class="notice"><%= notice %></a>
      <a class="alert"><%= alert %></a>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
