<!DOCTYPE html>
<html>
<head>
  <title>Asurmo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= include_gon %>
  <%= javascript_include_tag 'application' %>
  <%= action_cable_meta_tag %>
  <%= include_sync_config %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render 'layouts/header' %>

    <%= render_breadcrumbs %>
    <%= yield %>
  </div>

</body>
</html>
