<div class="col-lg-6 panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Admin list</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">

      <%= form_for(@organization, :url => organization_create_admin_path(@organization), :method => "post") do |f| %>
        <%= text_field_tag :query, params[:query], :class => 'form-control typeahead', :id => "search-field" %>
        <%= hidden_field_tag :user_email, params[:user], :class => 'hidden-autocomplete' %>
        <%= f.submit "Add", :class => "btn btn-primary" %>
      <% end %>

      <% if @admins.empty? %>
        <p>There is no admin yet</p>
      <% else %>
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.first_name %></td>
              <td><%= admin.last_name %></td>
              <td><%= admin.email %></td>
              <td><%= link_to "x", organization_remove_admin_path(@organization, admin.id), :method => :get %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
