<div class="panel panel-default latest-campain-widget">
  <div class="panel-heading">
    <h3 class="panel-title">Events</h3>
    <a data-toggle="modal" data-target="#newEventModal">New event</a>
  </div>
  <div class="panel-body">
    <% if !@events.any? %>
      <p>There is no events yet</p>
    <% else %>
      <div class="list-group">
        <% @events.each do |event| %>
          <% if(event.id != nil) %>
            <%= link_to event.name, organization_campain_event_path(@organization, event.campain_id, event), :class => "list-group-item list-group-item-action" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- New Event Modal -->
<div class="modal animated zoomIn" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create new event</h4>
      </div>
      <%= form_for([@organization, @default_campain, @event], :html => {:multipart => true}) do |f| %>
        <div class="modal-body clearfix">

          <div class="form-group field">
            <%= f.label :name, :class => "col-md-3 control-label" %>
            <div class="col-md-8 pull-right">
              <%= f.text_field :name, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group field">
            <%= f.label :location, :class => "col-md-3 control-label" %>
            <div class="col-md-8 pull-right">
              <%= f.text_field :location, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group field">
            <%= f.label :start_date, :class => "col-md-3 control-label" %>
            <div class='col-md-8 pull-right input-group date' id='datetimepicker6'>
              <%= f.text_field :start_date, :class => "form-control" %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <div class="form-group field">
            <%= f.label :end_date, :class => "col-md-3 control-label" %>
            <div class='col-md-8 pull-right input-group date' id='datetimepicker7'>
              <%= f.text_field :end_date, :class => "form-control" %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <div class="form-group field">
            <%= f.label :avatar, :class => "col-md-3 control-label" %>
            <div class="col-md-8 pull-right">
              <%= f.file_field :avatar, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group field">
            <%= f.label :description, :class => "col-md-3 control-label" %>
            <div class="col-md-8 pull-right">
              <%= f.text_area :description, :class => "form-control" %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Create", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
