<div class="flex profile-cover h-112 mt-16">

</div>

<div class="item-centered flex bg-white shadow">
  <div class="container mx-auto flex relative h-12">
    <div class="w-auto">
      <%= image_tag @organization.avatar.url, alt: "", class: "rounded-lg w-32 h-32 absolute pin-b border-2 -m-b-1" %>
    </div>

    <div class="w-3/6" style="padding-top: 10px; padding-left: 138px;">
      <p class="text-2xl"><%= @organization.name %></p>
    </div>

    <div class="w-1/2" style="padding-top: 10px; padding-left: 100px;">
      <p class="text-2xl"><i class="fa fa-users" aria-hidden="true"></i> <%= @organization.members.count %></p>
    </div>

    <div class="w-3/6 absolute pin-r" style="padding-top: 10px; padding-left: 100px;">
      <%= render 'organizations/partials/join_button', :locals => {:organization => @organization} %>
    </div>
  </div>
</div>

<style media="screen">
  .profile-cover {
    background: url(<%= asset_path(cover_image(@organization)) %>);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
</style>
