<div class="panel panel-default panel-photo">
    <div class="panel-heading">
      <h3 class="panel-title">Available units</h3>
    </div>
    <div class="panel-body">

      <p>Campains <%= @organization.number_of_campains %> / <%= @organization.subscription_plan.campains_quota %></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="<%= @organization.owner.active_subscription.campains_quota %>" style="width: <%= @organization.owner.used_campains_quota %>%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>

      <p>Events <%= @organization.number_of_events %> / <%= @organization.owner.active_subscription.events_quota %></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="<%= @organization.owner.active_subscription.events_quota %>" style="width: <%= @organization.owner.used_events_quota %>%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>

    </div>
  </div>