<tr class="w-full">
  <td class="w-1/6"><%= image_tag organization.avatar.url, :class => "w-10 h-10 rounded-lg" %></td>
  <td class="w-3/5"><%= link_to organization.name, organization_path(organization), class: 'no-underline text-grey-darker ml-2' %></td>
  <td class="text-right w-1/6">
    <%= link_to "", edit_organization_path(organization), :class => "fa fa-pencil text-orange" if type == :admin || type == :moderator %>
    <% if type == :admin %>
    	<%= link_to "<i class='fa fa-trash-o text-red' aria-hidden='true'></i>".html_safe, organization_path(organization), :method => :delete if is_organization_owner?(organization, current_user)%>
    <% elsif type == :member %>
    	<%= link_to 'Exit', organization_remove_member_path(organization, current_user.id), :method => :delete, :remote => true, :class => "label label-warning" %>
    <% end %>
  </td>
</tr>
